*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
}
header{
    min-height: 5vh;
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    /* right: 0; */
    background-color: rgb(0,0,0,0.5);
    box-shadow: 10px 10px 100px 0px black;
}
#main-logo img{
    height: 80px;
    width:80px;
    padding-left: 40px;
    padding-top: 3px;
}
#logo{
    /* width: 10%; */
    display: flex;
    /* position: absolute;
    top: 0;
    left: 0; */
    justify-content: center;
    align-items: center;
    color: #efefd0;
    /* z-index: 10; */
}
header nav{
    display: flex;
    justify-content: center;
    width: 70%;
    /* background-color: #004e89; */
    /* border-bottom: 2px solid whitesmoke;*/
} 


header nav ul{
    /* padding-left: 15%; */
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    justify-content: space-evenly;
    margin-right: 3px;
    
    /* padding-left: 20%;
    padding-right: 10%; */
}
header nav ul li{
    padding-top: 30px;
    list-style: none;
}
header nav ul li a{
    font-size: 1.4vw;
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}
header nav ul li a:hover{
    background-color: #efefd0;
    color: #004e89;
    
}
/* header nav i{
    position: relative;
    top: 35%;
    right: 100px;
    color: whitesmoke;
    font-size: 30px;
} */
/* **************home************** */
#home{
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-image: url("images/carausal2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: home-background-img 10s linear 0s infinite alternate;
}
@keyframes home-background-img {
    0%{
        background-image: url("images/carausal2.jpg");
    }
    15%{
        background-image: url("images/carausal2.jpg");
    }
    30%{
        background-image: url("images/carausal.jpg");
    }
    45%{
        background-image: url("images/carausal.jpg");
    }
    60%{
        background-image: url("images/carausal3_.jpg");
    }
    75%{
        background-image: url("images/carausal3_.jpg");
    }
    85%{
        background-image: url("images/carausal4.jpg");
    }
    100%{
        background-image: url("images/carausal4.jpg");
    }
}
#home #home-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    /* color: white; */
}
/* header nav ul li a:hover #home-overlay{
    background-color: rgba(0,0,0, 0.8);
    
} */
#home #home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* color: white; */
    font-size: 20px;
}
#home #home-content h1{
    font-size: 2.8vw;
    color:whitesmoke;
    z-index: 2;
    padding-bottom: 10px;
    text-align: center;
}
#home #home-content h5{
    font-size: 1.3vw;
    font-weight: 300;
    padding: 0 20% 0 20%;
    color: whitesmoke;
    text-align: center;
    z-index: 2;
}
/* @media screen and (max-width:1200px){
    header nav ul li a{
        font-size: 1.3rem;

    }   
} */
@media screen and (max-width:900px) {
    #home #home-content h1{
        font-size: 1.5rem;
        padding: 10px 25px 10px 25px;
    }
    #home #home-content h5{
        font-size: 1rem;
        
    }
    
header nav ul{
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 10%;
    justify-content: center;
    
}
header nav ul li a{
    font-size: 1.2rem;
}
header nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60%;
    background-color: #004e89;
    display: none;
}
/* header #logo{
    align-self: self-start;
}
header{
    height: 100vh;
    width: 100%;
}
header nav{
    width: 60%;
    background-color: #004e89;
    display: none;
    
}
header #university-name h1,h2{
    font-size: 10px;
} */
    
}
/*************Courses***********/
#main-courses{
    min-height: 50vh;
    height: auto;
    width: 100%;
    color: whitesmoke;
    background-color:#004e89;
}
section #courses-offered{
height: 100%;
width: 100%;
padding-bottom: 20px;
}
section #courses-offered h1{
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
}
section #courses-offered #courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}
#courses-offered .course{
    width: 230px;
    padding: 30px;
    margin: 20px;
    background-color: #efefd0;
    border-radius: 30px;
}

#courses-offered .course h2{
    text-align: center;
    color: #0E2954;
}
#courses-offered .course p{
    color:#1B6B93;
    font-size: 0.9rem;
    padding-top: 5px;
}
#courses-offered .course button{
    background-color:#EF6262;
    padding: 10px;
    border-radius: 30px;
    margin-top: 8px;
    border: 0;
    color: whitesmoke;
    box-shadow: 2px 2px 6px 0px #004e89;
    /* transition: all 0.3s ease-in 0s; */
}
#courses-offered .course button:hover{
    background-color:#fe3131;
    border: 2px solid #004e89;
}
/**********facilities*********/

#facilities{
    min-height: 38vh;
    height: auto;
    width: 100%;
    background-color: #A0BFE0;
}
#div-facility{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

#div-facility #facility{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
}

#div-facility h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 18px;
}
#div-facility #facility div{
    height: 100px;
    width: auto;
    /* padding: 0 10px 0 10px; */
    padding: 20px;
    /* background-color: #004e89; */

}

#div-facility #facility div h3{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 550;

}
#div-facility #facility div h3 i{
    padding-top: 10px;
    font-size: 2.5rem;
}
/*****************international-collaboration*****************/

#international-collaboration{
    height: auto;
    min-height: 55vh;
    width: 100%;
    background-color: #efefd0;
}
#inter-collab{
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
}
#inter-collab h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 18px;
}
#inter-collab h3{
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    
}
#sub-inter-collab{
    min-height: 70%;
    height: auto;
    position: relative;
}
#sub-inter-collab i{
    height: 45px;
    width: 45px;
    background-color: #004e89;
    border-radius: 50%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    cursor: pointer;/**------------------*/
    position: absolute;
    top: 40%;
    box-shadow: 3px 3px 5px 1px #A0BFE0;
}
#sub-inter-collab i:first-child{
    left: -10px;
}
#sub-inter-collab i:last-child{
    right: -10px;
}
#inter-collab ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.inter-collab-name{
    height: 210px;
    width: 210px;
    list-style: none;
    padding: 20px;
}
.inter-collab-name img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.inter-collab-name img:hover{
    transform: scale(1.1);
}

/***********events***************/

#main-events{
    min-height: 80vh;
    height: auto;
    width: 100%;
    background-color: #004e89;
}
#event-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* margin-left: 10px;
    margin-right: 10px; */
}
#event-box h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 18px;
    color: whitesmoke;
    
}
#event-box #events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 40px;
}
.event{
    height: 300px;
    width: 500px;
    /* background-color: #efefd0; */
    padding: 20px;
    margin: 20px;
    margin-top: 25px;
    border-radius: 20px;
    background-position: center;
    box-shadow: 0 0 10px 3px rgb(47, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

#event1{
    background-image: url(images/event11.jpg);
    background-size: cover;
}

#event2{
    background-image: url(images/event21.jpg);
    background-size: cover;
}
#event3{
    background-image:url(images/event31.jpg);
    background-size: cover;
}
#event4{
    background-image: url(images/event41.jpg);
    background-size: cover;
}
.event h3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.event p{
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}
.event button{
    padding: 7px 10px 7px 10px;
    background-color: #EF6262;
    border-radius: 10px;
    border: 0;
    color: whitesmoke;
    box-shadow: 0 0 10px 3px #0E2954;
}
.event button:hover{
    background-color: #fe3131;
    border: 1px solid #0E2954;
}


